vaadin-text-field {
    width: 500px;
    margin-left: 20px;
    font-size: 12px;
}

vaadin-grid {
    font-size: 12px;
}

vaadin-button {
    --vaadin-button-background: #f6f42e;
    --vaadin-button-text-color: #63666a;
}